input {
	width: 15%;
	text-align: center;
}

body {
	font-family: monospace;
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
}

.container {
	width: 600px;
	height: 800px;
	margin: auto auto;
	/*background-color: snow;*/
}

@media (max-width: 600px) {
	.container {
	width: 400px;
	height: 600px;
	margin: auto auto;
	/*background-color: blue;*/
	}
}

.colors {
	line-height: 150%;
}

.underline {
	text-decoration: underline;
}

.magenta {
	background-color: magenta;
	color: whitesmoke;
}

.red {
	background-color: red;
	color: whitesmoke;
}

.orange {
	background-color: orange;
	color: whitesmoke;
}

.yellow {
	background-color: gold;
	color: whitesmoke;
}

.lime {
	background-color: lime;
	color: whitesmoke;
}

.green {
	background-color: green;
	color: whitesmoke;
}

.cyan {
	background-color: darkturquoise;
	color: whitesmoke;
}

.blue {
	background-color: blue;
	color: whitesmoke;
}

.sienna {
	background-color: sienna;
	color: whitesmoke;
}

.purple {
	background-color: purple;
	color: whitesmoke;
}

.mono {
	font-family: monospace; 
}

.game-area {
}

.status {
	font-weight: bold;
}

.boxes {
	display: inline-block;
	height: 30px;
	width: 30px;
	/*border: 1px solid black;*/
	/*background-color: blue;*/
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	border-radius: 25%;
	margin: 3px 0 3px 0;
}

.hints-display {
	line-height: 2em;
	vertical-align: middle;
}

.archive {
	display: flex;
	flex-direction: row;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
}

.guess-archive {
}

.hints-archive {
	margin-left: 5%;
}

.hint {
	height: 33px;
	width: 125px;
	line-height: 30px;
	margin: 3px 0 3px 0;
}

.guess-input {
	width: 385px;
	margin: 1em 0 1em 0;
}

.no-display {
	display: none;
}

.game-mode {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.game-mode-type {
	height: 40px;
	width: 92px;
	line-height: 40px;
	font-size: 1.15em;
	text-align: center;
	/*border: 1px solid black;*/
}

.engaged {
	background-color: dimgray;
	color: whitesmoke;
}

.color-bank {
	width: 385px;
}