.underline {
	text-decoration: underline;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.yellow {
	color: goldenrod;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.purple {
	color: purple;
}

.mono {
	font-family: monospace; 
	/*margin-bottom: 1em;*/
}

.archive {
	display: block;
	width: 80%;
}

.guess-archive {
	float: left;
	width: 50%;
}

.hints-archive {
	float: right;
	width: 50%;
}

.guess-input {
	width: 50%;
	margin: 1em 0 1em 0;
}